body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: #27332d;
  color: #ebefdf;
}

 h2{ 
  font-weight: 300;
  font-size: 1.2rem;
 }

 p {
  font-weight: 300;
  font-size: .8rem;
 }

header {
  display: grid;
  grid-template-columns: 1fr; /* This creates a single column */
  background-color: #225f6e;
}

.name-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: start;
  gap: 20px; /* Adjust this value to control space between items */
  border: 1px solid #ceddc2;
  padding: 5px;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px; /* Adjust this value to control space between items */
  padding: 0;
  list-style-type: none;
}

.nav li {
  text-align: center;
}

.nav a {
  color: #829d9e; 
  text-decoration: none; 
  padding: 10px 15px; 
  display: block; 
}

/* ===================NAV */
.nav a:hover {
  color: #a0c0c0; 
}

.nav a:active {
  color: #608080; 
}

.nav a:visited {
  color: #708090; 
}

/* ++++++++++++++++++++++++++project section */
/* Project section */
.project-grid {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.project-item {
  flex: 0 0 auto;
  width: 98vw; /* Use viewport width for responsiveness */
  max-width: 500px; /* Adjust this value as needed */
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}

.imageCont {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.imageCont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.description {
  padding: 10px;
  background-color: rgba(34, 95, 110, 0.8);
  font-size: 0.9rem;
}

/* Hide scrollbar for cleaner look */
.project-grid::-webkit-scrollbar {
  display: none;
}
.project-grid {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Navigation dots */
.project-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.nav-dot {
  width: 20px;
  height: 20px;
  
  background-color: #225f6e;
  
  cursor: pointer;
}

.nav-dot.active {
  background-color: #ebefdf;
}

@media (min-width: 768px) {
  .project-item {
    width: 45vw; /* Adjust for larger screens */
    max-width: 600px; /* Increase max-width for larger screens */
  }
}

/* ++++++++++++++++++++++++++FOOTER section */

footer {
  background-color: #184551;

}
