/* Filmography section ++++++++++++++++++++++++++++++++++++++++++++++++*/
.film-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.film {
  background-color: #225f6e;
  padding: 10px;
  color: #ebefdf;
}

.film h3 {
  font-weight: bold;
}